<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Phillab Site">
    <meta name="author" content="Jerzy Pałka">
    <title>PhilLab</title>
    <!-- Bootstrap and core site CSS -->
    <th:block th:include="_other :: stylesDev"/>
</head>
<body>

<div class="container-fluid pt-0 h-100 px-3 pb-3 mx-auto flex-column">
    <th:block th:include="_menu :: navbarLogged"/>
    <main class="row ">
        <div class="col-2">
        </div>
        <div class="col-8">
            <form>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="inputDate">Date:</label>
                        <input type="date" class="form-control" id="inputDate">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputTime">Time:</label>
                        <input type="time" class="form-control" id="inputTime">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputFirst">First Name:</label>
                        <input type="text" class="form-control" id="inputFirst">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputLast">Last Name:</label>
                        <input type="text" class="form-control" id="inputLast">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-8">
                        <label for="inputCharOfTheAilment">Character of the ailment:</label>
                        <input type="text" class="form-control" id="inputCharOfTheAilment" placeholder="1234 Main St">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputPesel">Pesel:</label>
                        <input type="text" class="form-control" id="inputPesel" minlength="11" maxlength="11" placeholder="22010301000">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputLocalization">Localization of pain:</label>
                    <input type="text" class="form-control" id="inputLocalization"
                           placeholder="Apartment, studio, or floor">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputPain">Strength of pain:</label>
                        <input type="text" class="form-control" id="inputPain">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputDeformations">Deformations of body:</label>
                        <input type="text" class="form-control" id="inputDeformations">

                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Add Card</button>
            </form>
        </div>
        <div class="col-2">
        </div>
    </main>
</div>
<th:block th:include="_other :: pluginsDev"/>
</body>
</html>