<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Phillab Site">
    <meta name="author" content="Jerzy Pałka">
    <title>PhilLab</title>
    <!-- Bootstrap and core site CSS -->
    <th:block th:include="_other :: stylesDev"/>
</head>
<body>

<div class="container-fluid pt-0 h-100 px-3 pb-3 mx-auto flex-column">
    <th:block th:include="_menu :: navbarLogged"/>
    <main class="row ">
        <div class="col-2">
        </div>
        <div class="col-8">
            <form th:action="@{/medic/patient/card/add}" method="post" th:object="${patient_card}">
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="medicalInterview.dateOfVisit">Date:</label>
                        <input type="date" class="form-control" id="medicalInterview.dateOfVisit" th:field="*{medicalInterview.dateOfVisit}">
                    </div>
<!--                    <div class="form-group col-md-3">-->
<!--                        <label for="medicalInterview.timeOfVisit">Time:</label>-->
<!--                        <input type="time" class="form-control" id="medicalInterview.timeOfVisit"  th:field="*{medicalInterview.timeOfVisit}">-->
<!--                    </div>-->
                    <div class="form-group col-md-3">
                        <label for="patient.firstName">First Name:</label>
                        <input type="text" class="form-control" id="patient.firstName" th:field="*{patient.firstName}">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="patient.lastName">Last Name:</label>
                        <input type="text" class="form-control" id="patient.lastName" th:field="*{patient.lastName}">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-8">
                        <label for="medicalInterview.characterOfTheAilment">Character of the ailment:</label>
                        <input type="text" class="form-control" id="medicalInterview.characterOfTheAilment" placeholder="" th:field="*{medicalInterview.characterOfTheAilment}">
                    </div>
<!--                    <div class="form-group col-md-4">-->
<!--                        <label for="inputPesel">Pesel:</label>-->
<!--                        <input type="text" class="form-control" id="pesel" minlength="11" maxlength="11" placeholder="22010301000" th:field="*{pesel}">-->
<!--                    </div>-->
                </div>

                <div class="form-group">
                    <label for="medicalInterview.localizationOfPain">Localization of pain:</label>
                    <input type="text" class="form-control" id="medicalInterview.localizationOfPain"
                           placeholder="" th:field="*{medicalInterview.localizationOfPain}">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="medicalInterview.strenghtOfPain">Strength of pain:</label>
                        <input type="text" class="form-control" id="medicalInterview.strenghtOfPain" th:field="*{medicalInterview.strengthOfPain}">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="medicalInterview.deformationsOfBody">Deformations of body:</label>
                        <input type="text" class="form-control" id="medicalInterview.deformationsOfBody" th:field="*{medicalInterview.deformationsOfBody}">

                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Add Card</button>
            </form>
        </div>
        <div class="col-2">
        </div>
    </main>
</div>
<th:block th:include="_other :: pluginsDev"/>
</body>
</html>