<th:block th:fragment="navbarLogged">
    <div class="row py-3 navbar-background-color">
        <div class="col-2"></div>
        <div class="col-8">
            <header class="masthead  mb-auto w-100 navbar-background-color">
                <div class="inner">
                    <h3 class="masthead-brand"><a class="nav-link active" href="/">Phillab</a></h3>
                    <nav class="nav nav-masthead justify-content-center px-3">
                        <span th:if="${session.user.isMedic()==true}">
                        <div class="dropdown show">
                            <a class="nav-link active dropdown-toggle mx-3" href="/medic" role="button"
                               id="medicMenuLink"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Medic
                            </a>
                            <div class="dropdown-menu" aria-labelledby="medicMenuLink">
                                <a class="dropdown-item" href="/medic/add">Add Patient</a>
                                <a class="dropdown-item" th:href="@{|/medic/${session.user.getId()}/patients|}">My Patients</a>
                                <a class="dropdown-item" href="/medic/card/add">New Card</a>
                                <a class="dropdown-item" th:href="@{|/medic/${session.user.getId()}/cards|}">All Cards</a>
                                <a class="dropdown-item" href="/medic/card/list">All Visits</a>
                            </div>
                        </div>
                        </span>
                        <div class="dropdown show">
                            <a class="nav-link active dropdown-toggle mx-3" href="/visits" role="button"
                               id="visitMenuLink"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Visits
                            </a>

                            <div class="dropdown-menu" aria-labelledby="visitMenuLink">
                                <a class="dropdown-item" href="/patient/reservation">Reservation</a>
                                <a class="dropdown-item" href="/patient/scheduled">Scheduled</a>
                                <a class="dropdown-item" href="/patient/training">Medical Training</a>
                                <a class="dropdown-item"
                                   th:href="@{|/patient/${session.user.getId()}/history|}">History</a>
                            </div>
                        </div>

                        <a class="nav-link active" href="/contact">Contact Us</a>
                        <a class="nav-link active" href="/aboutus">About Us</a>
                        <div class="dropdown show">
                            <a class="nav-link active dropdown-toggle mx-3" href="" role="button"
                               id="profileMenuLink"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                               th:text="${session.user.retrieveFullName()}">
                                Name
                            </a>

                            <div class="dropdown-menu" aria-labelledby="profileMenuLink">
                                <a class="dropdown-item" href="/user/myprofile">Profile</a>
                                <a class="dropdown-item" href="/user/edit">Edit</a>
                                <a class="dropdown-item" href="/logout">Logout</a>
                            </div>
                        </div>
                    </nav>
                </div>
            </header>
        </div>
        <div class="col-2"></div>
    </div>
</th:block>
<th:block th:fragment="navbarNotLogged">
    <div class="container-fluid pt-0 h-100 px-0 pb-3 mx-auto flex-column">
        <div class="row navbar-background-color py-3">
            <div class="col-3"></div>
            <div class="col-6">
                <header class="masthead  mb-auto w-100 navbar-background-color">
                    <div class="inner">
                        <h3 class="masthead-brand"><a class="nav-link active" href="/">Phillab</a></h3>
                        <nav class="nav nav-masthead justify-content-center px-3">
                            <a class="nav-link active" href="/contact">Contact Us</a>

                            <a class="nav-link active" href="/aboutus">About Us</a>
                            <a class="nav-link active" href="/registration">Register</a>
                            <a class="nav-link active" href="/login">Login</a>
                        </nav>
                    </div>
                </header>
            </div>
            <div class="col-3"></div>
        </div>
</th:block>