<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Phillab Site">
    <meta name="author" content="Jerzy Pałka">
    <link rel="icon" href="https://getbootstrap.com/docs/4.0/assets/img/favicons/favicon.ico">
    <title>PhilLab</title>
    <!-- Bootstrap and core site CSS -->
    <th:block th:include="_other :: stylesDev"/>
</head>
<body>

<div class="container-fluid pt-0 h-100 px-3 pb-3 mx-auto flex-column">
    <div class="row navbar-background-color">
        <div class="col-3"></div>
        <div class="col-6">
            <header class="masthead  mb-auto w-100 navbar-background-color">
                <div class="inner">
                    <h3 class="masthead-brand"><a class="nav-link active" href="/">Phillab</a></h3>
                    <nav class="nav nav-masthead justify-content-center px-3">
                        <a class="nav-link active" href="/aboutus">About Us</a>
                        <a class="nav-link active" href="/profile/{id}">Profile(docelowo imie nazwisko)</a>
                        <a class="nav-link active" href="/visits">Visits</a>
                        <a class="nav-link active" href="/logout">Logout</a>
                    </nav>
                </div>
            </header>
        </div>
        <div class="col-3"></div>

    </div>
    <main class="row ">
        <div class="col-3">
        </div>
        <div class="col-6">
            <form method="post">
                <label for="dateofvisit">
                    Date of visit:
                </label>
                <input id="dateofvisit" type="date" name="dateofvisit"/>
                <label for="timeofvisit">
                    Time of visit:
                </label>
                <input id="timeofvisit" type="time" name="timeofvisit"/>
                <label for="characteroftheailment">
                    Character of the Ailment:
                </label>
                <input id="characteroftheailment" type="textarea" name="characteroftheailment"/>
                <label for="localizationofpain">
                    Localization of pain:
                </label>
                <input id="localizationofpain" type="textare" name="localizationofpain"/>
                <label for="strengthofpain">
                    Strength of pain:
                </label>
                <input id="strengthofpain" type="textarea" name="strengthofpain"/>
                <label for="deformationsofbody">
                    Deformations of body:
                </label>
                <input id="deformationsofbody" type="textarea" name="deformationsofbody"/>
            </form>
        </div>
        <div class="col-3">
        </div>
    </main>
</div>
</body>
</html>